<div class="postCard">
  <div class="postCardHeader">
    <div class="postCardTitle"><a href="/post/{{id}}">{{title}}</a></div>
    <div class="postCardDate">Posted by {{user.username}} on {{format_date date_created}}</div>
  </div>
  <div class="postCardBody">
    <p>{{content}}</p>
  </div>
</div>